{% extends 'baseclient.html' %}

{% block staff %}

Hello, {{name}}
Your devices:
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Model</th>
        <th scope="col">Breakage</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for i in devices %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.model}}</td>
        <td>{{i.breakage}}</td>
        <td><li class="nav-item"><a href="{% url 'delete-dev' id=i.id %}" class="nav-link">Delete</a></li></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <br>
Waiting for master answer:

{%for item in contracts %}
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{item.service.services_name}}</h5>
    <p class="card-text">Date: {{item.date}} Status: Waiting  Master: {{item.master.person.first_name}}</p>
  </div>
</div>
{% endfor %}
<br>
In progress:

{%for item in contracts_progress %}
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{item.service.services_name}}</h5>
    <p class="card-text">Date: {{item.date}} Status: "In Progress"  Master: {{item.master.person.first_name}}</p>
  </div>
</div>
{% endfor %}
<br>
Done contracts:
{%for item in contracts_done %}
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{item.service.services_name}}</h5>
    <p class="card-text">Date: {{item.date}} Status: DONE  Master: {{item.master.person.first_name}}</p>
  </div>
</div>
{% endfor %}

{% endblock %}