{% extends 'basemaster.html' %}


{% block staff %}

Hello, {{name}}
Your Services:
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Time</th>
        <th scope="col">Cost</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for i in service %}
      <tr>
        <td>{{i.services_name}}</td>
        <td>{{i.time}}</td>
        <td>{{i.cost}}</td>
        <td><li class="nav-item"><a href="{% url 'delete-item' id=i.id %}" class="nav-link">Delete</a></li></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
