{% extends 'basemaster.html' %}

{% block staff %}
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Add Specializations</h2>
              <form method="post" id="logincl">
                {% csrf_token %}
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Choose a service:</label>
                    <select class="form-select-lg" name="name" aria-label="name">
                      <option value="battery" selected>Battery</option>
                      <option value="screen">Screen</option>
                      <option value="soft">Soft</option>
                      <option value="Camera">Camera</option>
                    </select>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" name="time" id="form3Example1cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example1cg">Time</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" name="cost" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Cost</label>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="submit" value="Submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Add</button>
                </div>
                    {% for message in messages %}
                    <h3>{{ message }} </h3>
                    {% endfor %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}